<main class="container">
  <p id="flash-info" style="display: none;"><%= get_flash(@conn, :info) %></p>
  <p id="flash-error" style="display: none;"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
